
.full-width {
  width: calc(100% - 24px); /* Adjusted width with margin */
  max-width: 600px; /* Example maximum width for the input fields */
  margin: 0 auto; /* Center align horizontally */
  box-sizing: border-box; /* Include padding and border in width calculation */
}

.full-width .full-form-field {
  width: 100%;
  padding-bottom: 1em;
}

.half-div{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.full-width .half-form-field {
  width: 45%;
  min-width: 120px;
  padding-bottom: 1em;
}

.full-width input {
  width: 100%;
}

.half-form-field mat-select{
  width: 100%
}
