.table-heading {
  text-align: center;
  margin-bottom: 8px;
  margin-top: 32px;
}

.table-container {
  width: 100%;
  max-width: 80vw;
  margin: 0 auto;
  padding: 20px;
}

.task-table {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .table-container {
    width: 80%;
  }
}

.add-task-line {
  width: 100%;
  display: flex;
  justify-content: end;
}

.add-task-button{
  margin: auto 16px;
}

.card-content-center{
  margin-top:10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.summary-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Adjust as per your layout preference */
  gap: 20px; /* Adjust the gap between cards */
}

.summary-card {
  width: calc(25% - 20px); /* Adjust width for responsiveness */
  min-width: 150px; /* Minimum width for each card */
  max-width: 300px; /* Maximum width for each card */
  flex: 1 1 300px; /* Flex properties to allow wrapping */
  text-align: center;
  height: 125px;
}

@media screen and (max-width: 768px) {
  .summary-card {
    width: calc(50% - 20px); /* Two cards per row on smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .summary-card {
    width: 100%; /* One card per row on mobile */
  }
}

.header-row{
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto 16px auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 90%;
  padding: 20px;

  .content-title {
    font-weight: bold;
    text-align: left;
  }

  .filters {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    .search-field {
      width: 60%;
      mat-icon {
        margin-right: 8px;
      }
    }
  }

  .table-container {
    width: 100%;
    margin-bottom: 20px;

    .responsive-table {
      width: 100%;
      border-spacing: 0 10px;
      th, td {
        padding: 4px 16px;
        text-align: left;
      }
    }
  }

  .paginator {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0 16px;
  }

  .add-task-button {
    position: fixed;
    bottom: 48px;
    right: 20px;
  }
}

.mat-column-title{
  font-weight: 550;
}

.action-buttons {
  display: flex;
  gap: 12px;
  align-items: center;
  flex-wrap: wrap;
}

.chip-button{
  border-radius: 20px;
  width: 120px;
}

.mat-menu-item{
  width: 120px
}

.filter-status{
  display: flex;
  justify-content: flex-end;
  width: 90%;
  gap: 16px;
}