<div class="header-row">
  <h2>Dashboard</h2>
  <div class="add-task-line">
    <button mat-raised-button color="primary" class="add-task-button" (click)="addTask()"><mat-icon>add</mat-icon>Add Task</button>
  </div>
</div>

<div class="summary-cards">
  <!-- Summary Cards -->
  <mat-card class="summary-card">
    <mat-card-header>
      <mat-card-title>Total Number of Tasks</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content-center">
      <h1>{{ tasks.length }}</h1>
    </mat-card-content>
  </mat-card>


  <!-- more summary cards as needed -->
</div>


<!-- Table Section -->
<h2 class="table-heading">All Tasks</h2>
<div class="table-container">
  <table mat-table [dataSource]="dataSource" matSort class="task-table">
    <!-- Columns -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
      <td mat-cell *matCellDef="let task">{{ task.type }}</td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let task">{{ task.name }}</td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let task">{{ task.date | date }}</td>
    </ng-container>
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
      <td mat-cell *matCellDef="let task">{{ task.amount | currency: task.currency }}</td>
    </ng-container>
    <ng-container matColumnDef="currency">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Currency</th>
      <td mat-cell *matCellDef="let task">{{ task.currency }}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let task">
        <button mat-icon-button (click)="editTask(task)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteTask(task.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- Pagination -->
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
